.contener{
    background-color: azure;
    padding-left: 50px;
    position: fixed;
width: 100%;  
z-index: 50;
}
.link{
    margin: 10px 0px 0px 250px ;
    padding-left: 50px;
    color: red;
}
.ss{
    color: black;

}
.fixedd{
position: fixed;
width: 100%;

}
@media screen and (max-width:500px){
    .sd{
display: none;   
 }
 .sdd{
    display: none;   
     }
     .link{
         display: flex;
         justify-content: center;
         margin: 0px;
padding: 0px;
     }

}   
